doctype html
html
    head
    script(src='script/onClick.js' defer)
    script(src='script/login.js' defer)
body
    div.header
        div.headerbuttons#logosection
            img(src="/image/floejLogoCut.png")

        a.headerbuttons
            div#HistorieButton Historie

        a.headerbuttons
            div#JuletraeButton Juletræer

        a.headerbuttons
            div#UdlejningButton Udlejning

        a.headerbuttons
            div#ConsulButton Consultancy

        a.headerbuttons
            div#SelvskovButton Selvskovning brænde

        a.headerbuttons
            div#SeldrupButton Seldrupgård

        a.headerbuttons
            div#KontaktButton Kontakt

        a.headerbuttons
            div#FindButton Find os!
        div#loginButtons
            div.loginButton Login