extends layout

block append styles
    link(rel='stylesheet' href='css/ConsultancyFane.css')

block append content
    h1 Consultancy
    div#ConsultancyGrid
        div.container
            img(src='/image/consultancyFane/FloejstrupgaardTheBoys_Consultancy.jpg')
            div.textarea
                P Team Leader on project EuropeAid/136437/IH/SER/AL “Improvement of the performance and quality of the public extension service in the livestock sector in Albania" May 2017 - November 2020. The overall objective of the project is to contribute to the increase of farm income from livestock sector while ensuring economic feasibility, social fairness and environmental sustainability. The purpose is to improve the capacity of extension service to select, design, communicate and disseminate to farmers useful information on agricultural production and management including appropriate knowledge to the animal farming sector. The project is expected to achieve the following results:
                P 1. Effective extension service is established following the improvement of institutional and administrative framework.<br> 2. Quality of information of extension service is increased due to enhanced capacities and skills.

        p ______________________________________________________________________________________________________________________________________________________

        div.container
            div.textarea
                P Consultancy services with emphasis on the interaction between person, organization and customer. Mainly focusing on developing the skills of advisers, especially farm management advisers, so the adviser's knowledge results in the maximum benefit of the customer.
                P This is done by supervision, courses, teaching, participation in projects and boards and otherwise. The services are mainly based on international assignments. I have experiences in many aspects of the agricultural sector: From practical farming to advice at local, national and international level to cooperation with researchers and employees in public administration.
                P <br> For further information see my profile at LinkedIn
                a(href='http://dk.linkedin.com/in/mortensejersen/') http://dk.linkedin.com/in/mortensejersen/
                P Key expert on an EU funded project on Establishment of the Serbian Farm Accountancy Data Network (FADN) 2011 - 2015. The overall objective of the project is to contribute to the provision of improved economic, financial and performance data on Serbian agricultural holdings and the agricultural sector in compliance with EU criteria thus increasing agricultural productivity and competitiveness, and integration with the EU. I was in Serbia approx. 140 days per year.
            img(src='/image/consultancyFane/FloejstrupgaardHae_Consultency.jpg' align="left")

        p ______________________________________________________________________________________________________________________________________________________

        div.container
            img(src='/image/consultancyFane/oneOfTheseIsNotLikeTheOthers_Consultency.jpg')
            div.textarea
                p Capacity Development for Agricultural Advisers in Demand Driven Extension Services in Kenya 2009. The overall aim was to develop institutional and human capacity that can provide competent and demand-driven agricultural advisory services to the Kenyan agricultural sector. More specific the aim was to build a team of trainers with capacity to train agricultural advisers in providing demand driven advisory services. The participants were advisers employed by the government, private advisers, Ministry employees and professors from the University of Agriculture.