extends layout

block append styles
  link(rel='stylesheet' href='css/HistorieFane.css')

block append content
  div#historieGrid
    div#container1
      div#historieText
        h1 Historie
        p Vi - Tove og Morten Sejersen - købte Fløjstrupgård i 1993 og flyttede ind i 1994. <br> Vi driver gården som fritidslandbrug. Tove er farmakonom på Aarhus Universitetshospital <br> og Morten er selvstændig konsulent (se mere under Consultancy).
        p Gården har været fæstegård under Vilhelmsborg og blev frikøbt i 1885. <br> Tidligere ejere af gården:
        p Jens Peder Jacobsen  1885 - 1905
        p Berte Jacobsen 1905 - 1913
        p Martin Jacobsen 1913 - 1918
        p Søren Jacobsen 1918 -
        p Henry Jacobsen - 1982
        p Aage Petersen 1982 - 1993
        p Vi købte gården i fri handel og det er således ikke en gammel slægtsgård i vor slægt. <br> Alligevel har vi en vis tilknytning: Ved renovering af stuehuset fandt vi en inskription, der viser, <br> at Mortens oldefar, tømrer Jens Carl Nielsen fra Neder Fløjstrup, har været med til at opføre stuehuset i 1886.
    div#container2
      div#billede
        img(src='/image/historieFane/InskriptionWood_HistorieFane.jpg')
        p Inskription på gammelt gulvbræt i stuehuset

