extends layout

block append styles
    link(rel='stylesheet' href='css/juletræerFanen.css')

block append content
    div#salg
        div#container1
            h1 Salg af juletræer og pyntegrønt

            p Vi sælger Nordmannsgran juletræer samt pyntegrønt af Nobilis og Nordmannsgran.
            p Den sidste weekend i november, alle weekends i december frem til jul og også den 20.-23.december. Alle dage kl.10-16.

            p Der er mulighed for selv at fælde træet,eller man kan vælge et,der allerede er fældet.

            div.salgpriser
                ul
                    p Priser:
                    ul
                        li Prisen er 125kr. pr. meter for træer op til 3 meters højde - for højere træer aftales prisen individuelt.
                        li Pyntegrønt koster 30kr. for et stort bundt.
                        li Vi sælger også juletræsfødder til mindre træer (max højde ca.180cm).

                ul Du kan betale kontant samt med MobilePay.

            p Vi har igen i år lavet et samarbejde med NorsmindeKro, så du efter at have købt et juletræ hos os kan køre til kroen og få rabat.
            p Husk at bede om en kvittering på dit køb hos os.

        div#container2
                img(src='/image/juletraerFane/Norsmindekro_Juletraer.jpg')


    div#kemi
        div#container3
            img(src='/image/juletraerFane/FloejstrupgaardTraer2_Juletraer.jpg')
        div#container4
                h1 Juletræ er dyrket med minimal anvendelse af kemi
                br
                p Vores juletræer dyrkes efter Global G.A.P. standarden. Det er en frivillig certificeringsstandard, der er lavet for at sikre forbrugere bedre dokumentation og sporbarhed i landbrugsproduktionen.
                p G.A.P. er en forkortelse for Good Agricultural Practice (Godt landmandsskab).
                p Det betyder, at juletræerne er produceret med mindst mulig anvendelse af sprøjtemidler og gødning og med fokus på arbejdsmiljøet.
                p Fx. bruger vi ikke kemi til topskudsregulering og vore træer er gødet delvis med naturgødning (pilleret hønsemøg).
                br
                p Standarden er udarbejdet af en række europæiske detailkæder og fødevareproducenter.
                p De store detailvarekæder i Europa stiller krav om dokumentation for produktionsforholdene for alle typer af varer, som de sælger – og der med også for juletræerne.
                p Global G.A.P anvendes i mere end 100 lande verden over.Læs mere om Global G.A.P. her:
                br
                a(href='https://www.globalgap.org/uk_en/') https://www.globalgap.org/uk_en/
                br

    div#tv2
        div#container5
            h1 Besøg af TV2Østjylland 21. december 2013
            p Den 21. december havde vi besøg af TV2Østjylland, der gerne ville lave et indslag til Østjylland Rundt om juletræer. Resultatet ses her 8 minutter og 10 sekunder inde i udsendelsen:
            a(href='https://www.tv2oj.dk/nyheder/22-12-2013/1930/ostjylland-rundt?autoplay=1#player') https://www.tv2oj.dk/nyheder/22-12-2013/1930/ostjylland-rundt?autoplay=1#player

        div#container6
            h1 TV2Østjylland 19. december 2012
            iframe(src='/image/juletraerFane/tv2Video.mp4')