extends layout

block append styles
    link(rel='stylesheet' href='css/Seldrupgård.css')

block append content
    div#SeldrupGaardGrid
        div#SeldrupgaardContainer
            div#Billede
                img(src='/image/seldrupgaardFane/Floejstrupgaard_Seldrupgaard.jpg')
        dic#ContainerText
            div#Text
                h1 Seldrupgård
                p Vi ejer Seldrupgård, Fuldenvej 119 i Beder sammen med Mortens søskende. Det er en gammel slægtsgård, som har været i familiens eje, siden den blev frikøbt fra Vilhelmsborg i 1854.
                p Staldbygningerne og en del af jorden er udlejet til Bodil Breyen, Seldrup Islandsheste.
                a(href='http://www.seldrup-islandsheste.dk') http://www.seldrup-islandsheste.dk