#ConsultancyGrid{
    width: auto;
    height: auto;
    display: grid;
    margin-bottom: 60px;
    grid-template-rows: 30% 5% 30% 5% 30%;
}

#ConsulButton {
    color: red;
}

.container{
    display: flex;
    flex-direction: row;
}

a {
 color: black;
}

.container img, .textarea {
    margin-left: 5%;
    margin-right: 5%;
}
